<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBE9LOldA70wBfKrm66i85Ptqmc_aW3OtM</string>
	<key>GCM_SENDER_ID</key>
	<string>18277443591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trainPetApp</string>
	<key>PROJECT_ID</key>
	<string>train-pet-app-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>train-pet-app-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18277443591:ios:711b1d168b6629a71ea2a2</string>
</dict>
</plist>